# Sanity configuration
SANITY_PROJECT_ID="jvblp287"
SANITY_DATASET="development"
SANITY_API_VERSION="2025-01-01"
SANITY_TOKEN="skE3EaYOeZSUk1ln8vgF1meAqPgkYLxWnrL1YvRyBw2KYBa4HlzHsuN8GOInu8cDbi0lUhfd33AkG82uUh1WDl6jBUCqGuxNCHfiGcUQ8zKozYSI1hszHH39hDHkNVR4dNYEfpPmqDNJoeBS0VGO3wwVqkNtOSQRNCsT081NsWjiXNLFR5HT"